<a href="https://colab.research.google.com/github/VaibhavShintre/Introduction-to-Data-Science/blob/main/CSC_442_Project_Group_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Names: Lavan Aditya, Amrish Naranappa, Vaibhav Shintre, Austin Bressler

In [27]:
# install the neccesary libraries
from google.colab import files
import io
import pandas as pd
import numpy as np

# upload the data file
uploaded = files.upload()

In [28]:
# read in the database
StudentMath = pd.read_csv('student-mat.csv', delimiter=';')
StudentPort = pd.read_csv('student-por.csv', delimiter=';')

print(StudentMath)
print(StudentPort)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
644     MS   F   19       R     GT3       T     2     3  services     other
645     MS   F   18       U     LE3       T     3     1   teacher  services
646     MS   F   18       U     GT3       T     1     1     other     other
647     MS   M   17       U     LE3       T     3     1  services  services
648     MS   M   18       R     LE3       T     3     2  services     other

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        4   0  11  11
1    ...      5        3      3     1     1      3        2   9  11  11
2    ...      4        3      2     2     3      3        6  12  13  12
3    ...      3        2      2     1     1      5        0  14  14  14
4    ...      4        3      2     1     2      5        0  11  13  13
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
644  ...      5        4      2     1     2      5        4  10  11  10
645  ...      4        3      4     1     1      1        4  15  15  16
646  ...      1        1      1     1     1      5        6  11  12   9
647  ...      2        4      5     3     4      2        6  10  10  10
648  ...      4        4      1     3     4      5        4  10  11  11

[649 rows x 33 columns]

In [29]:
#renaming the column variable names to differentiate the G1 , G2 and G3 values from the math and portugal files

Sm_temp = StudentMath.rename(columns={'G1': 'MG1', 'G2': 'MG2', 'G3': 'MG3'}, inplace=False)
print(Sm_temp)
sp_temp = StudentPort.rename(columns={'G1': 'PG1', 'G2': 'PG1', 'G3': 'PG1'}, inplace=False)
print(sp_temp)

print(StudentMath)
print(StudentPort)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences MG1 MG2 MG3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
644     MS   F   19       R     GT3       T     2     3  services     other
645     MS   F   18       U     LE3       T     3     1   teacher  services
646     MS   F   18       U     GT3       T     1     1     other     other
647     MS   M   17       U     LE3       T     3     1  services  services
648     MS   M   18       R     LE3       T     3     2  services     other

     ... famrel freetime  goout  Dalc  Walc health absences PG1 PG1 PG1
0    ...      4        3      4     1     1      3        4   0  11  11
1    ...      5        3      3     1     1      3        2   9  11  11
2    ...      4        3      2     2     3      3        6  12  13  12
3    ...      3        2      2     1     1      5        0  14  14  14
4    ...      4        3      2     1     2      5        0  11  13  13
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
644  ...      5        4      2     1     2      5        4  10  11  10
645  ...      4        3      4     1     1      1        4  15  15  16
646  ...      1        1      1     1     1      5        6  11  12   9
647  ...      2        4      5     3     4      2        6  10  10  10
648  ...      4        4      1     3     4      5        4  10  11  11

[649 rows x 33 columns]
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
644     MS   F   19       R     GT3       T     2     3  services     other
645     MS   F   18       U     LE3       T     3     1   teacher  services
646     MS   F   18       U     GT3       T     1     1     other     other
647     MS   M   17       U     LE3       T     3     1  services  services
648     MS   M   18       R     LE3       T     3     2  services     other

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        4   0  11  11
1    ...      5        3      3     1     1      3        2   9  11  11
2    ...      4        3      2     2     3      3        6  12  13  12
3    ...      3        2      2     1     1      5        0  14  14  14
4    ...      4        3      2     1     2      5        0  11  13  13
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
644  ...      5        4      2     1     2      5        4  10  11  10
645  ...      4        3      4     1     1      1        4  15  15  16
646  ...      1        1      1     1     1      5        6  11  12   9
647  ...      2        4      5     3     4      2        6  10  10  10
648  ...      4        4      1     3     4      5        4  10  11  11

[649 rows x 33 columns]

In [36]:
sm_merged = pd.merge(Sm_temp, sp_temp, 'outer')
sm_inter = pd.merge(Sm_temp, sp_temp, 'inner')
print(sm_merged)
print(sm_inter)

     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0        GP   F   15       R     GT3       T     1     1   at_home     other
1        GP   F   15       R     GT3       T     1     1   at_home     other
2        GP   F   15       R     GT3       T     1     1     other     other
3        GP   F   15       R     GT3       T     1     1     other     other
4        GP   F   15       R     GT3       T     1     1     other     other
...     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
1000     MS   M   19       U     GT3       T     3     2   at_home  services
1001     MS   M   19       U     LE3       T     1     1     other   at_home
1002     MS   M   20       R     GT3       T     1     1     other     other
1003     MS   M   20       U     LE3       A     2     2  services  services
1004     MS   M   21       R     GT3       T     1     1     other     other

      ... Dalc Walc  health  absences   MG1   MG2   MG3   PG1   PG1   PG1
0     ...    1    1       1         4   NaN   NaN   NaN  13.0  13.0  13.0
1     ...    1    1       1         2   7.0  10.0  10.0   NaN   NaN   NaN
2     ...    1    1       1         2   NaN   NaN   NaN   8.0   9.0   9.0
3     ...    2    4       5         2   NaN   NaN   NaN  13.0  11.0  11.0
4     ...    2    4       5         2   8.0   6.0   5.0   NaN   NaN   NaN
...   ...  ...  ...     ...       ...   ...   ...   ...   ...   ...   ...
1000  ...    1    1       3         4   NaN   NaN   NaN   6.0  11.0   9.0
1001  ...    3    3       5         5   8.0   9.0   9.0   NaN   NaN   NaN
1002  ...    2    4       4        12   NaN   NaN   NaN   8.0  11.0  10.0
1003  ...    4    5       4        11   9.0   9.0   9.0   NaN   NaN   NaN
1004  ...    3    3       3         3  10.0   8.0   7.0   NaN   NaN   NaN

[1005 rows x 36 columns]
   school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0      GP   M   16       U     LE3       T     2     2     other     other
1      GP   M   15       U     GT3       A     2     2     other     other
2      GP   M   15       U     GT3       T     4     3   teacher     other
3      GP   M   15       U     GT3       T     4     4    health    health
4      GP   M   15       U     GT3       T     4     4    health  services
5      GP   M   15       R     GT3       T     4     3   teacher   at_home
6      GP   M   15       U     LE3       T     3     3     other     other
7      GP   M   15       U     LE3       T     4     4   teacher     other
8      GP   M   15       U     GT3       T     2     2  services  services
9      GP   F   16       U     LE3       T     2     2     other   at_home
10     GP   F   15       U     LE3       T     4     3  services  services
11     GP   F   16       U     LE3       T     4     3   teacher  services
12     GP   M   15       U     GT3       T     4     2     other     other
13     GP   F   15       U     GT3       T     1     1     other     other
14     GP   F   15       U     GT3       T     4     2     other     other
15     GP   M   16       U     GT3       T     4     4  services   teacher
16     GP   F   15       U     GT3       A     3     3     other    health
17     GP   M   15       U     LE3       T     4     2   teacher     other
18     GP   F   15       U     LE3       A     3     4     other     other
19     GP   M   16       U     LE3       T     2     1   at_home     other
20     GP   F   17       U     GT3       T     4     4     other   teacher
21     GP   F   18       R     GT3       T     1     1   at_home     other
22     GP   M   17       U     GT3       T     3     3     other     other
23     GP   F   17       U     GT3       T     2     4  services  services
24     GP   F   17       U     GT3       T     1     1   at_home  services
25     GP   M   16       U     GT3       T     2     3     other     other
26     GP   M   17       U     GT3       T     4     4  services   teacher
27     GP   F   16       U     GT3       T     4     3    health     other
28     GP   F   17       R     GT3       T     2     1   at_home  services
29     GP   M   17       R     GT3       T     2     1     other     other
30     GP   F   17       U     LE3       T     0     2   at_home   at_home
31     GP   F   18       U     LE3       T     2     2     other     other
32     MS   M   19       R     GT3       T     1     1     other     other
33     MS   F   18       U     GT3       T     3     3  services  services
34     MS   F   18       U     LE3       T     1     1   at_home  services
35     MS   F   17       R     GT3       T     1     2     other  services
36     MS   F   17       U     GT3       T     2     2     other   at_home
37     MS   F   18       R     LE3       T     4     4     other     other
38     MS   M   19       R     GT3       T     1     1     other  services

    ... Dalc Walc  health  absences  MG1 MG2 MG3 PG1 PG1 PG1
0   ...    1    1       3         0   12  12  11  13  12  13
1   ...    1    1       3         0   14  16  16  14  14  15
2   ...    1    1       1         0   13  14  15  12  13  14
3   ...    1    1       5         0   12  15  15  11  12  12
4   ...    3    4       5         0    9  11  12  10  11  11
5   ...    1    1       5         0   17  16  16  13  14  15
6   ...    1    1       2         0    8  10  12  13  12  12
7   ...    2    4       5         8   12  12  12  10  11  11
8   ...    1    1       1         0    8   8  11   9  10  10
9   ...    2    2       5        14   10  10   9  10  11  11
10  ...    2    4       2         0   10  10  10  13  12  12
11  ...    1    2       1         2   16  15  15  16  15  16
12  ...    1    1       3         0   10  10  10  11   9  10
13  ...    2    3       4         2    9  10  10  13  12  12
14  ...    1    3       1         4   13  14  14  15  15  15
15  ...    1    1       4         0   16  17  17  16  16  16
16  ...    1    1       4        10   10  11  11  10  10  10
17  ...    1    1       3        10   18  19  19  18  17  18
18  ...    1    1       1         0    7  10  11  10  11  11
19  ...    3    5       5         6   12  13  14   9  10  10
20  ...    1    1       4         0   11  11  12  13  13  13
21  ...    1    5       4         6    9   8  10  11  10  11
22  ...    1    4       4         4    6   5   6  11   9  10
23  ...    2    3       5         0   16  17  17  17  18  17
24  ...    1    1       3         0    8   8   9  12  11  12
25  ...    1    1       3         0   13  14  14  13  12  12
26  ...    1    2       5         4   17  15  16  13  13  14
27  ...    1    5       2         2   16  16  16  14  14  15
28  ...    1    1       3         2   13  11  11  13  13  13
29  ...    2    4       5         0    8  12  12  12  12  13
30  ...    2    3       2         0   16  15  15  14  14  15
31  ...    1    1       2         0    8   8   0  10   9  12
32  ...    3    3       5         4    8   8   8   8   9  10
33  ...    1    1       5         0   10   9   9  10  10  10
34  ...    1    1       4         0   18  16  16  19  17  18
35  ...    1    2       3         0   12  11  12  13  13  13
36  ...    1    1       3         8   13  11  11  10  11  12
37  ...    1    1       1         0   19  18  19  15  17  17
38  ...    1    3       5         0    6   5   0   5   8   0

[39 rows x 36 columns]